:root {
  --branding-color: #2a5f68;
  --font: "Amatic SC", cursive;
  --branding-font: "Josefin Slab", serif;
  --second-branding-color: rgb(237, 251, 253);
}

h1,
h3 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  color: var(--branding-color);
  font-size: 34px;
  display: inline-block;
}

h2 {
  color: var(--branding-color);
  font-family: var(--branding-font);
}

img {
  display: flexbox;
}

.hero {
  background-color: var(--second-branding-color);
  padding: 7px;
  font-family: var(--font);
  font-size: 21px;
  color: var(--branding-color);
  text-align: center;
}

.navbar {
  font-family: "Gloria Hallelujah", cursive;
  text-decoration: uppercase;
  font-kerning: normal;
}

.webDev {
  display: flex;
  justify-content: center;
  line-height: 1;
}

.icon-tags {
  font-size: 12px;
}

.card {
  background-color: var(--second-branding-color);
  border-color: var(--branding-color);
  font: var(--branding-font);
}

.photography {
  display: flex;
  justify-content: center;
}

.img,
a {
  border-radius: 50px;
}

.btn-branding {
  font-family: "Gloria Hallelujah", cursive;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container p {
  font-size: 18px;
  font-family: var(--branding-font);
}

content {
  padding: 7px;
}

body {
  background-color: var(--second-branding-color);
}

.sami-about-me {
  border: 7px solid var(--branding-color);
  border-radius: 15px;
  height: auto;
}

.photography-font {
  font-size: 45px;
}

.far {
  font-size: 35px;
  color: var(--branding-color);
}

@media (min-width: 576px) {
  img {
    max-width: 768px;
  }
}
